<ng-container>
    <h3>Contact details</h3>
    <p-table *ngIf="contactDetails$" [value]="(contactDetails$ | async) ?? []" [resizableColumns]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pResizableColumn>First Name</th>  
                <th pResizableColumn>Surname</th>  
                <th pResizableColumn>Date Of Birth</th>  
                <th pResizableColumn>Address</th>  
                <th pResizableColumn>Phone Number</th>  
                <th pResizableColumn>IBAN</th>  
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detail>
            <tr>
                <td>{{ detail.firstName }}</td>
                <td>{{ detail.surname }}</td>
                <td>{{ detail.dateOfBirth }}</td>
                <td>{{ detail.address }}</td>
                <td>{{ detail.phoneNumber }}</td>
                <td>{{ detail.iban }}</td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>