<ng-container>
    <h3 class="left-align">Edit contact detail</h3>
    <div class="card">
        <div *ngIf="contactDetailForm" class="formgrid">
            <form [formGroup]="contactDetailForm" (ngSubmit)="updateContactDetail()">
                <div class="row flex">
                    <div class="field col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" id="firstname" pInputText formControlName="firstName" />
                                <label htmlFor="firstname">Username</label>
                            </span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" id="surname" pInputText placeholder="Surname" formControlName="surname" />
                                <label htmlFor="surnmae">Surname</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field col-12">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <textarea rows="5" cols="30" pInputTextarea id="address" formControlName="address" class="w-full"></textarea>
                                <label htmlFor="address">Address</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row details">
                    <div class="field">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <p-calendar id="dateofbirth" formControlName="dateOfBirth"></p-calendar>
                                <label htmlFor="dateofbirth">Date of Birth</label>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="phonenumber" placeholder="Phone Number" formControlName="phoneNumber" />
                                <label htmlFor="phonenumber">Phone Number</label>
                            </span>
                        </div>   
                    </div>      
                    <div class="field">
                        <div class="p-inputgroup">
                            <span class="p-float-label">
                                <input type="text" pInputText id="iban" placeholder="IBAN" formControlName="iban" />
                                <label htmlFor="iban">IBAN</label>
                            </span>
                        </div> 
                    </div> 
                </div>

                <div class="right-align">
                    <p-button type="submit" [disabled]="!contactDetailForm.valid">Save</p-button>
                </div>
            </form>
        </div>
    </div>
</ng-container>